.inline-block{
    display:inline-block ;
    padding: 15px;
    align-content: center;
}

.logo2 {
    width: 23%;
    padding: 1%;
}
.navigation {
    width: 73%;
    padding:1%;
}
.ul { 
    width: 50%;
    margin-left: auto;

}
.headshot {
    height: 600px;
    padding: 25px;
    vertical-align: middle;
}
.content {
    width: 500px; 
    margin: 0 auto;
    font-size: larger;
}
.footer {
    background-color: #515155;
    
}

